<h1>Objave</h1>

<table>
  <thead>
    <tr>
      <th>Ime</th>
      <th>Opis</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.ime %></td>
        <td><%= post.opis %></td>
        <td><%= post.user.name %></td>
        <%= show_post_buttons(post) %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
