<p>
  <strong>Ime:</strong>
  <%= @post.ime %>
</p>

<p>
  <strong>Opis:</strong>
  <%= @post.opis %>
</p>
<p>
  <strong>Napisal:</strong>
  <%= @post.user.name %>
</p>

<%= show_edit_button(@post) %> |
<%= link_to 'Back', posts_path %>

<%= commontator_thread(@post) %>
